#header{
    position: absolute;
    z-index: 1;
    width: 100%;

    .header_title{
        margin: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .hr_div{
            border-left: 1px solid #333;
            height: 15px;
        }

        hr{
            border: 1px solid #333;
        }
        select{
            border: none;
            font-weight: 600;
            color: #333;
            font-size: 16px;
            transition: all 0.8s;
            background-color: transparent;
            
            &:hover{
                color: #d52121;;
            }
}
       
        a{
            color: #333;
            font-weight: 400;
            font-family: Arial, Helvetica, sans-serif;
            transition: all 0.8s;
            
            &:hover{
            color: #d52121;
            }
        }
        
        .header_title_left{
            display: flex;
            align-items: center;
            gap: 15px;
            img{
                width: 30px;
              
            }
        }

        .header_title_right{
            display: flex;
            align-items: center;
            gap: 10px;

            select{
                font-size: 15px;
                font-weight: 400;
            }
            a{
                i{
                    margin-right: 5px;
                }
            }
        }
    }
    .header_footer{
        margin: 10px 20px;
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .search{
            i{
                 font-size: 25px;
                 cursor: pointer;
                 transition: all 0.8s;

                 &:hover{
                    color: #d52121;;
                 }
                }
           
           
        }
        .navbar{
            margin-left: 150px;
            img{
                display: block;
                margin: 0 auto;
                margin-bottom: 20px;
            }
            ul{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 45px;

            li{
                a{
                    color: #333;
                    font-size: 20px;
                    transition: all 0.8s;

                    i{
                    margin-left: 5px;
                    font-size: 15px;
                    transition: all 0.8s;
}
                
                }
                a:hover{
                    color: #d52121;
                    i{
                        color: #d52121;
                        transform: rotate(90deg);
}
                }
            }
        }
        }

        .header_price{
            display: flex;
            align-items: center;
            gap: 10px;
            a{
                position: relative;
                margin-right: 20px;
                i{
                    color: #333;
                    font-size: 25px;
                    transition: all 0.8s;
                }
                i:hover{
                    color: #d52121;;
                 }
                span{
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    background: #d52121;
                    color: #fff;
                    border-radius: 100%;
                    text-align: center;
                    font-weight: 600;
                    font-size: 14px;
                    display: inline-block;
                    position: absolute;
                    top: -12px;
                    left: 28px;
                    }

            }

            p{
                color: #333;
                font-size: 18px;

                span{
                    font-weight: 600;
                }
            }
        }

        
    }
}
#section1{
    background-image: url(/src/img/slider6.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 700px;
    position: relative;
    display: flex;
    align-items: center;
    
    .section1_title{
        width: 600px;
        margin-left: 20px;
        margin-top: 150px;

        h2{
            font-size: 24px;
            line-height: 24px;
            text-transform: capitalize;
            margin-bottom: 27px;
            font-weight: 600;
            letter-spacing: 4px;
            color: #d52121;
        }

        h1{
            font-size: 70px;
            line-height: 60px;
            font-weight: 600;
            margin-bottom: 0;
        }

        p{
            margin-top: 40px;
            font-size: 20px;
            line-height: 35px;
            font-style: normal;
            font-weight: 400;
            visibility: visible;
            font-family: Arial, Helvetica, sans-serif;
            color: #333;
        }

        a{
            margin-top: 40px;
            font-size: 18px;
            line-height: 18px;
            font-weight: 600;
            display: inline-block;
            color: #333;
            transition: all 0.8s;

            &:hover{

                color: #d52121;

            }

           
}

        

        .section1_slide{
            width: 12px;
            height: 12px;
            border-radius: 50%;
            display: inline-block;
            margin: 0 3px;
            transition: .3s;
            background: #ff2222;
            position: absolute;
            bottom: 10px;
            left: 50%;
            cursor: pointer;
        }
        .slide2{
            background-color: #696969;
            left: 52%;
        }
    }
}

#section2{
    margin-bottom: 50px;
   .container{
    display: grid;
    gap: 100px;
    width: 95%;
    margin: 20px auto;
    margin-bottom: 50px;
    height: 160px;
    grid-template-columns: repeat(6, 1fr);
    position: relative;
    

    &:hover{
        .container_icon{
            opacity: 1;
        }
    }

    .container_icon{
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: space-between;
        font-size: 35px;
        top: 48%;
        z-index: 1;
        opacity: 0;
        transition: all 0.5s;



        a{
            color: #888888;
            transition: all 0.5s;

            &:hover{
                color: #d52121;
            }
        }
    }
    .card{
        width: 100px;
        cursor: pointer;
      img{
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    h3{
        a{
            color: #333;
            font-size: 18px;
            text-align: center;
            transition: all 0.8s;

            &:hover{
               color: #d52121; 
            }
}
       
        
    }
    p{
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        text-align: center;
    }  
    }
    
   } 

   
}

#section3{
    width: 90%;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    gap: 120px;

 
 
 .section3_left{
    width: 426px;
    height: 654px;
    border: 1px solid  #888888;

    &:hover{

        .section3_left_text{
            
             .section3_left_text_addto{
            visibility: visible;
            opacity: 1;
            top: 33px;

        }
      
        }

        
     
       
        
        .section3_left_text{

            span{
                opacity: 0;
                
            }
        }
        .section3_left_img{

         .section3_left_img2{
                opacity: 1;
            }
            .section3_left_img1{
                opacity: 0;
            }
            .section3_left_heart{

                opacity: 1;
                top: 35px;
    
            }
            .section3_left_img_icon{
                visibility: visible;
            }
        }
    }

     
    .section3_left_img{
        position: relative;
        width: 404px;
       
        
        

        .section3_left_img_icon{
            visibility:hidden;
            width: 95%;
            display: flex;
            top: 80%;
            justify-content: space-between;
            position: absolute;
            margin-left: 10px;
            transition: all 0.2s;
            
            a{
               color: #333;
                font-size: 40px;
                
            
            }
            
        }

        .section3_left_heart{
                display: flex;
                flex-direction: column;
                gap: 20px;
                position: absolute;
                top: 150px;
                right: 5px;
                opacity: 0;
                transition: 0.8s;

                



                a{
                    background-color: #f1f1f1;
                    border-radius: 50%;
                    color: #333;
                    padding: 10px;
                    transition: all 0.5s;


                    &:hover{
                        background-color: #d52121;
                        color: #fff;
                    }

                      i{
                    font-size: 25px;
                    
                    }
                }
              
                
            }
        
        img{
            width: 100%;
}
        .section3_left_img1{
            transition: 0.6s;
}
        .section3_left_img2{
            transition: 0.6s;
            position: absolute;
            opacity: 0.0;
            top: 0;
            left: 0;
}
        span{
            position: absolute;
            color: #fff;
            font-size: 16px;
            padding: 3px 8px;
            background-color: #d52121;
            top: 25px;
            left: 20px;
        }
    }
    

    .section3_left_text{
        margin-left: 20px;
        position: relative;
        span{
            transition: all 0.5s;
}
       
        h4{
            margin-bottom: 10px;
            a{
                font-size: 20px;
                color: #333;
                font-weight: 400;
            }
        }
        .section3_left_text_addto{
            position: absolute;
            font-size: 20px;
            color: #333;
            top: 50px;
            visibility: hidden;
            opacity: 0;
            font-weight: 600;
            left: 0;
            transition:0.5s;


            &:hover{

                color: #d52121;
            }

           
}
        span{
            font-size: 20px;
                color: #333;
                font-weight: 600;
                text-decoration: line-through;
        }

        .section3_left_price{
            text-decoration: none;
                color: red;
                margin-left: 10px;
                
        }

        .section3_left_data{
            
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            margin-top: 20px;
            margin-right: 30px;

            h4{
                font-size: 40px;
                font-weight: 100;
                text-align: center;
                color: #333;
            }
            p{
                font-size: 20px;
                font-weight: 100;
                color: #333;
            }
            .section3_left_data_p{
                font-size: 40px;
            }

        }
    }

 }
 .section3_right{

    h6{
        color: #d52121;
        font-size: 30px;
        letter-spacing:10px;
        margin-bottom: 20px;
    }
    h4{
        color: #333;
        font-size: 40px;
        letter-spacing:5px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    a{
        font-size: 20px;
        color: #d52121;
        font-weight: 600;
        margin-bottom: 20px;

    }
    img{
        display: block;
        width: 750px;
    }
 }
}

#section4{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

.section4_title{
    margin-top: 40px;
    text-align: center;

    h4{

        font-size: 30px;
        font-weight: 200;
        letter-spacing: 5px;
        margin: 20px 0;
        color: #333;
    }

    p{
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 40px;

    }

    ul{
        display: flex;
        gap: 80px;
        

        li{
            a{
                font-size: 20px;
                font-weight: 600;
                color: #696969;
                transition: all 0.5s;


                &:hover{
                    color: #d52121;
                }
            }
        }

    }

}

.container{
    margin-top: 30px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    position: relative;

    &:hover{
        .container_icon{
            opacity: 1;
        }
    }

    .container_icon{
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: space-between;
        font-size: 35px;
        top: 48%;
        z-index: 1;
        opacity: 0;
        transition: all 0.5s;



        a{
            color: #888888;
            transition: all 0.5s;

            &:hover{
                color: #d52121;
            }
        }
    }
    .card{
        width: 316px;
        height: 388px;
        border: 1px solid #e5e5e5;
        padding: 10px;
        transition: all 0.5s;
        
        
        
        &:hover{

            box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.1);
    
            .card_text{
                
                 .card_text_addto{
                visibility: visible;
                opacity: 1;
                top: 33px;
    
            }
          
            }
    
            .card_text{
    
                span{
                    opacity: 0;
                    
                }
            }
            .card_img{
             .card_img2{
                    opacity: 1;
                }
                .card_img1{
                    opacity: 0;
                }
                .card_heart{
    
                    opacity: 1;
                    top: 35px;
        
                }
                .card_img_icon{
                    visibility: visible;
                }
            }
        }
    
         
        .card_img{
            position: relative;
            width: 294px;
           
            
    
            .card_heart{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    position: absolute;
                    top: 150px;
                    right: 5px;
                    opacity: 0;
                    transition: 0.8s;
    
                    
    
    
    
                    a{
                        background-color: #f1f1f1;
                        border-radius: 50%;
                        color: #333;
                        padding: 10px;
                        transition: all 0.5s;
    
    
                        &:hover{
                            background-color: #d52121;
                            color: #fff;
                        }
    
                          i{
                        font-size: 25px;
                        
                        }
                    }
                  
                    
                }
            
            img{
                width: 100%;
    }
            .card_img1{
                transition: 0.6s;
    }
            .card_img2{
                transition: 0.6s;
                position: absolute;
                opacity: 0.0;
                top: 0;
                left: 0;
    }
            span{
                position: absolute;
                color: #fff;
                font-size: 16px;
                padding: 3px 8px;
                background-color: #d52121;
                top: 25px;
                left: 20px;
            }
        }
        
    
        .card_text{
            margin-left: 20px;
            position: relative;
            span{
                transition: all 0.5s;
    }
           
            h4{
                margin-bottom: 10px;
                a{
                    font-size: 20px;
                    color: #333;
                    font-weight: 400;
                }
            }
            .card_text_addto{
                position: absolute;
                font-size: 20px;
                color: #333;
                top: 50px;
                visibility: hidden;
                opacity: 0;
                font-weight: 600;
                left: 0;
                transition:0.5s;

                &:hover{
                    color: #d52121;
                }
               
    }
            span{
                font-size: 20px;
                    color: #333;
                    font-weight: 600;
                    text-decoration: line-through;
            }
    
            .card_price{
                text-decoration: none;
                    color: red;
                    margin-left: 10px;
                    
            }
    
        }
    
     }
}

}

#section5{
    margin-top: 80px;
display: flex;
justify-content: space-around;

.section5_left{
    background-image: url(/src/img/banner13.jpg);
    background-size: cover;
    width: 45%;
    height: 400px;
    position: relative;

    .section5_div{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid #fff;
        transition: all 0.5s;

        &:hover{
            transform: scale(0.9);
        }
    }

    h3{
        position: absolute;
        font-size: 32px;
        letter-spacing:5px;
        top: 120px;
        left: 65px;
    }

    p{
        position: absolute;
        font-size: 20px;
        line-height: 24px;
        letter-spacing:3px;
        bottom: 120px;
        left: 65px;
    }
}
.section5_right{
    background-image: url(/src/img/banner14.jpg);
    background-size: cover;
    width: 50%;
    height: 400px;
    position: relative;

    .section5_div{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid #fff;
        transition: all 0.5s;

        &:hover{
            transform: scale(0.9);
        }
     }

    h3{
        position: absolute;
        font-size: 32px;
        letter-spacing:5px;
        top: 120px;
        left: 65px;
    }

    p{
        position: absolute;
        font-size: 20px;
        line-height: 24px;
        letter-spacing:3px;
        bottom: 120px;
        left: 65px;
    }
}
}

#section6{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
margin-bottom: 80px;

.section6_title{
    margin-top: 40px;
    text-align: center;

    h4{

        font-size: 30px;
        font-weight: 200;
        letter-spacing: 5px;
        margin: 20px 0;
        color: #333;
    }

    p{
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 40px;

    }


}

.container{
    margin-top: 30px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    position: relative;

    &:hover{
        .container_icon{
            opacity: 1;
        }
    }

    .container_icon{
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: space-between;
        font-size: 35px;
        top: 48%;
        z-index: 1;
        opacity: 0;
        transition: all 0.5s;



        a{
            color: #888888;
            transition: all 0.5s;

            &:hover{
                color: #d52121;
            }
        }
    }
    .card{
        width: 316px;
        height: 388px;
        border: 1px solid #e5e5e5;
        padding: 10px;
        transition: all 0.5s;
        
        
        
        &:hover{

            box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.1);
    
            .card_text{
                
                 .card_text_addto{
                visibility: visible;
                opacity: 1;
                top: 33px;
    
            }
          
            }
    
            .card_text{
    
                span{
                    opacity: 0;
                    
                }
            }
            .card_img{
             .card_img2{
                    opacity: 1;
                }
                .card_img1{
                    opacity: 0;
                }
                .card_heart{
    
                    opacity: 1;
                    top: 35px;
        
                }
                .card_img_icon{
                    visibility: visible;
                }
            }
        }
    
         
        .card_img{
            position: relative;
            width: 294px;
           
            
    
            .card_heart{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    position: absolute;
                    top: 150px;
                    right: 5px;
                    opacity: 0;
                    transition: 0.8s;
    
                    
    
    
    
                    a{
                        background-color: #f1f1f1;
                        border-radius: 50%;
                        color: #333;
                        padding: 10px;
                        transition: all 0.5s;
    
    
                        &:hover{
                            background-color: #d52121;
                            color: #fff;
                        }
    
                          i{
                        font-size: 25px;
                        
                        }
                    }
                  
                    
                }
            
            img{
                width: 100%;
    }
            .card_img1{
                transition: 0.6s;
    }
            .card_img2{
                transition: 0.6s;
                position: absolute;
                opacity: 0.0;
                top: 0;
                left: 0;
    }
            span{
                position: absolute;
                color: #fff;
                font-size: 16px;
                padding: 3px 8px;
                background-color: #d52121;
                top: 25px;
                left: 20px;
            }
        }
        
    
        .card_text{
            margin-left: 20px;
            position: relative;
            span{
                transition: all 0.5s;
    }
           
            h4{
                margin-bottom: 10px;
                a{
                    font-size: 20px;
                    color: #333;
                    font-weight: 400;
                }
            }
            .card_text_addto{
                position: absolute;
                font-size: 20px;
                color: #333;
                top: 50px;
                visibility: hidden;
                opacity: 0;
                font-weight: 600;
                left: 0;
                transition:0.5s;

                &:hover{
                    color: #d52121;
                }
               
    }
            span{
                font-size: 20px;
                    color: #333;
                    font-weight: 600;
                    text-decoration: line-through;
            }
    
            .card_price{
                text-decoration: none;
                    color: red;
                    margin-left: 10px;
                    
            }
    
        }
    
     }
}

}
#section7{

   background-color: #f8f8f8; 
   padding-bottom: 50px;

    .section7_title{
        padding-top: 80px;
         text-align: center;
         i{
            font-size: 65px;
         }

         h2{
            font-size: 30px;
            line-height: 30px;
            font-weight: 400;
            margin-bottom: 0;
            letter-spacing: 3px;
         }

        }
        
    .section7_container{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .section7_about{
            margin-top: 40px;
            display: flex;
            gap: 20px;

            .img_div{
                width: 90px;
                height: 190px;

                img{
                    width: 90px;
                    height: 90px;
                }
            }

            .text_div{
                width: 350px;
                height: 190px;

                h3{
                    font-size: 25px;
                    line-height: 18px;
                    font-weight: 600;
                    text-transform: capitalize;
                    margin-bottom: 5px;
                    color: #333;
                }

                a{
                    font-size: 19px;
                    line-height: 16px;
                    display: inline-block;
                    color: #696969;
                    transition: 0.5s;


                    &:hover{
                        color: #d52121;
                    }
                }

                p{
                    font-size: 19px;
                    line-height: 25px;
                    margin-top: 14px;
                    color: #696969;
                    }
                }
            }
        }
        
}

#section8{
    margin-bottom: 80px;
    .section8_title{
        margin-top: 40px;
        text-align: center;
    
        h4{
    
            font-size: 30px;
            font-weight: 200;
            letter-spacing: 5px;
            margin: 20px 0;
            color: #333;
        }
    
        p{
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 400;
            margin-bottom: 40px;
    
        }
}

.section8_container{
    margin-top: 30px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    

    .card{
        width: 450px;
        height: 505px;
        border: 1px solid #e5e5e5;
        overflow: hidden;


        &:hover{

            .img_div{
                
                img{
                    transform: scale(1.2);
}
            }
        }

        .img_div{
            width: 450px;
            height: 307px;
            overflow: hidden;

            img{
                width: 100%;
                transition: all 0.5s;
                cursor: pointer;
            }
        }

        .text_div{

            text-align: center;
            margin-top: 50px;

            h4{
                font-size: 20px;
                margin-bottom: 22px;
                font-weight: 400;
                

            a{
                color: #696969;
                transition: all 0.5s;

                &:hover{
                    color: #d52121;
                }
            }
            }

            p{
                font-size: 18px;
                line-height: 20px;
                margin-bottom: 0;
                margin: 10px 0;
                color: #696969;

                span{
                    display: block;
                }
            }

            a{
    
                font-size: 19px;
    
                display: inline-block;
                font-weight: 600;
                color: #696969;
                transition: all 0.5s;

                &:hover{
                    color: #d52121;
                }
            }
            
        }

    }


}

.section8_contact{
    width: 90%;
    margin: 0 auto;

    margin-top: 80px;
    display: flex;
    justify-content: space-between;

    .contact{
        display: flex;
        align-items: center;
            justify-content: center;
        gap: 15px;

        .contact_icon{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 1px solid #e5e5e5;
            transition: all 0.5s;

            &:hover {
                background-color: #000;

                i{
                    color: #fff;
                }
            }

            

            i{
                font-size: 40px;
                color: #888888;
            }
        }

        .contact_text{
            a{
                font-size: 20px;
                color: #222222;
                transition: all 0.5s;
                font-weight: 600;

                &:hover{
                    color: #d52121;
                }
}

            p{
                margin-top: 10px;
                color: #696969;
                font-size: 20px;
            }
        }

    }
}
}
#footer{
    background-color: #e5e5e5;
    .footer{
        padding-bottom: 40px;
        padding-top: 80px;
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        ul{
            width: 200px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            li{
                color: #333;
                font-size: 18px;
                overflow: hidden;

                a{
                    color: #666;
                    transition: all 0.5s;
                    
                    
                    
                    &:hover{
                        color: #d52121;
                        padding-left: 10px;
                    }
}
            }
        }
        .social{
            li{
                
                a{
                  display: flex;
                  gap: 10px;
                }
               
            }
        }
        
        .search{
            width: 350px;

            form{
                position: relative;
              input{
                    width: 250px;
                    background: none;
                    padding: 0 50px 0 3px;
                    height: 45px;
                    font-size: 16px;
                    color: #666;
                    border: 0;
                    border-bottom: 2px solid #dfdfdf;
                    

            }

            a{
                color: #666;
                transition: all 0.5s;
                position: absolute;
                bottom: 0;

                i{
                    font-size: 35px;
                    margin-left: 5px;
                    top: 10px;
                }

                &:hover{
        
                    color: #d52121;
                }

            }  
            }
            
        }
    }

    .footer_end{
        height: 60px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 80px;
        p{
            text-transform: capitalize;
            line-height: 24px;
            font-size: 15px;
        }
    }
}